h2 {
	color:blue;
}
h4 {
	color:blue;
	text-decoration:underline;
}
p {
	font-size: 1px;
}
.p1 {
	color: skyblue;
}
.p2 {
	color: dimgray;
}
.p3 {
	color:indianred;
}
.p4 {
	color:indianred;
}
.p5 {
	color: skyblue;
}
.p6 {
	color:darkred;
}